@inject IJSRuntime Js
@inject IStringLocalizer<Resources.InputFileComponent> Loc

<div>
    <label for="@Id" class="form-label">@Loc["LabelDescM", MaxFilesCount]</label>
    <InputFile @ref="_fileInput" OnChange="HandleFileChange" id="@Id" multiple disabled="@Disabled" accept="@FileExtension" class="@($"form-control {_validationClass}")" />
    <small class="valid-feedback">@_validFeedback</small>
    <small class="invalid-feedback">@_invalidFeedback</small>
</div>

@code {
    /// <summary>
    /// Example: single ".bin"; multiple ".bin, .zip, .jpg";
    /// </summary>
    [Parameter] public string FileExtension { get; set; } = string.Empty;

    [Parameter] public int MinFilesCount { get; set; } = 1;
    [Parameter] public int MaxFilesCount { get; set; } = 10;
    [Parameter] public long MaxFileSize { get; set; } = uint.MaxValue;
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public string? Id { get; set; }

    public List<IBrowserFile> Files { get; private set; } = [];

    private InputFile _fileInput = null!;
    private string[] _extensions = [];
    private string _validationClass = "";
    private string _invalidFeedback = "";
    private string _validFeedback = "";

    protected override void OnInitialized()
    {
        _extensions = FileExtension.Split(", ");
        Id ??= Guid.NewGuid().ToString("N");
    }

    private async Task HandleFileChange(InputFileChangeEventArgs e)
    {
        Files.Clear();
        var inputFiles = e.GetMultipleFiles(e.FileCount);
        foreach (var file in inputFiles)
            if (_extensions.Any(extension => file.Name.EndsWith(extension))) Files.Add(file);
        await ValidateInputFileField();
    }

    private async Task ValidateInputFileField()
    {
        var isValid = false;
        _invalidFeedback = "";
        _validFeedback = "";
        while (true)
        {
            if (Files.Count < MinFilesCount) {
                _invalidFeedback = @Loc["MinFilesCountEx", MinFilesCount];
                break;
            }
            if (Files.Count > MaxFilesCount)
            {
                _invalidFeedback = @Loc["MaxFilesCountEx", MaxFilesCount];
                break;
            }
            var fileSize = Files.Aggregate(0, (current, file) => (int)(current + file.Size));
            if (fileSize > MaxFileSize)
            {
                _invalidFeedback = @Loc["TotalFileSizeEx", MaxFileSize];
                break;
            }
            isValid = true;
            _validFeedback = @Loc["TotalFileLoaded", Files.Count];
            break;
        }
        _validationClass = isValid ? "is-valid" : "is-invalid";
        if (!isValid) await ResetInputFileField();
    }

    private async Task ResetInputFileField()
    {
        Files.Clear();
        await Js.InvokeVoidAsync("resetFileInput", _fileInput.Element);
    }
}